<div class="container">
  <h3>Hey <%= @volunteer.first_name %>! O pessoal já tá sabendo do seu interesse em desenvolver o projeto deles! Assim que pośsível eles entrarão em contato com você pra ajustar os detalhes, ok? </h3>
  <hr>
  <p>Caso eles não se manifestem dentro de 3 dias, você pode entrar em contato com eles por esse email aqui:</p>
  <p><%= @ngo.user.email %></p>
</div>

