#user{
  hr {
    margin:20px 0;
  }

  h3 {
    margin-bottom: 0;
  }

  .link {
    color: $blue;
  }

  .inline-line {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
      font-size: 13px;
      margin: 0 3%;
      color: $gray;
    }
  }
}

