<div class="container">
  <h3>Obriado por se cadastrar no <a href="https://volunteer-it.herokuapp.com/">VolunteerIT</a>!</h3>
  <p>Agora você poderá mostrar seu projeto para voluntários e assim receber a ajuda necessária para concluí-lo!</p>

  <p>Caso você ainda não tenha cadastrado nenhum projeto, <a href="https://volunteer-it.herokuapp.com/users/sign_in">clique aqui</a> para registrar seu primeiro projeto</p>
</div>

