<div class="wrapper">
  <div class="container select-profile">
    <div>
      <%= link_to "Be a volunteer",  new_volunteer_path, class: "btn btn-primary" %>
    </div>
    <div>
      <%= link_to "Add your NGO", new_ngo_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>






