
<div class="projects">
  <%= render 'layouts/banner-index' %>
   <div class="container">
    <div class="row">
      <% if @projects.empty? %>
          <p id = "default-message" class="text-center">Ainda não temos projetos com esse critérios. Encontre outra ONG incrível realizando uma nova busca</p>
      <% else %>
        <% @projects.each do |project| %>
              <%= render 'layouts/card-project', project: project  %>
        <% end %>
     <%end%>
    </div>
  </div>
</div>

