<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 text-center">
        <div class="info">
          <div class="info-title">
            <p class="text-left"><b>Informações gerais</b></p>
            <hr>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <img class="ngo-logo" src="https://source.unsplash.com/350x350/?nature,water" alt="Ngo Project" class="img-resposive">
            </div>

            <div class="col-xs-12 col-sm-7">
              <div class="ngo-title">
                <h2>Projeto: <%= @project.name %></h2>
                <p>ONG responsável: <%= @ngo.name %></p>
                <p>Endereço: <%= @ngo.address %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="ngo-body">
          <p><b>O Projeto:</b></p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eligendi sint rem, explicabo esse voluptatem quod repellendus consequuntur ullam tempore nostrum autem iste vel, eius, minus necessitatibus culpa dolorum ut.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, ullam, magnam. Iure vel eveniet corporis odio dignissimos non, possimus dolorum, adipisci excepturi accusamus distinctio molestiae repellat. Consectetur, laudantium voluptate quo.<br><br></p>


          <p><b>Quem somos:</b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eligendi sint rem, explicabo esse voluptatem quod repellendus consequuntur ullam tempore nostrum autem iste vel, eius, minus necessitatibus culpa dolorum ut.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, ullam, magnam. Iure vel eveniet corporis odio dignissimos non, possimus dolorum, adipisci excepturi accusamus distinctio molestiae repellat. Consectetur, laudantium voluptate quo.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <div class="participants-title">
          <p class= "text-left"><b>Participantes</b></p>
          <hr>
        </div>
        <div class="participants-body">
          <div class="row volunteers">
            <div class="col-xs-12 volunteers-images">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
            </div>
            <div class="col-xs-12 volunteers-images">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
              <img src="http://via.placeholder.com/50x50" alt="Volunteer" class="img-circle img-thumbnail">
            </div>
            <div class="col-xs-12">
              <button class="btn btn-primary">Participar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <p><b>Nossos outros projetos</b></p>
        <hr>
        <% @projects.each do |project| %>
            <div class="card-project col-xs-10 col-xs-offset-1">
              <%= render 'layouts/card-project', project: project  %>
            </div>
        <% end %>
      </div>
  </div>
</div>

