<div class="container">
  <h3>Obriado por se cadastrar no <a href="https://volunteer-it.herokuapp.com/">VolunteerIT</a>!</h3>

  <p>Agora você poderá particiar de vários projetos voluntários de causas que você acredita!</p>

  <p>Além disso, você poderá construir projetos reais que tem um impacto real.</p>

  <p>Seja bem vindo a nossa comunidade!</p>

  <p></p>

  <p>Caso você ainda não tenha cadastrado nenhum projeto, <a href="https://volunteer-it.herokuapp.com/users/sign_in">clique aqui</a> para registrar seu primeiro projeto</p>
</div>

