.btn-facebook {
  margin: 10px;
  text-align: center;
  background-color: rgb(69, 104, 178);
  color: white;

  .fa-facebook {
    margin-right: 10px;
  }

}
.btn-facebook:hover {
  color: white !important;
}
