.container {
  margin-top: 40px;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
}

.text {
  text-align: justify;
}

.volunteers-images {
  display: flex;
  justify-content: center;
}
.volunteers-images:nth-child(1) {
  margin-bottom: 2%;
}
.volunteers-images img:hover {
  cursor: pointer;
}

.info {
  margin-bottom: 80px;

  .ngo-logo {
    float: left;
    margin-bottom: 10px;
    width: 250px;
    // height: 100px;
  }

  .ngo-title {
    text-align: left;
  }

  .ngo-body {
    margin-top: 40px;
  }
}

.participants-title {
  text-align: left;
}

.participants-body {
  padding: 0px 20px;
  img {
    margin: 10px;
  }
}

.participar {
  background-color: $button-green;
}
.participar:hover {
  background-color: $button-green !important;
  opacity: 0.9 !important;
}
.project-views {
  margin-top: 4%;
}
