<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('background.jpg') %>');">
  <div class="banner-content">

    <h1>CONSTRUA SEU PORTFOLIO. AJUDE O MUNDO.</h1>
    <p>Crie um portfolio incrível enquanto você ajuda ONGs de todo o país</p>
    <form class="form-inline" method="GET" action="/projects">
          <input type="text" class="form-control input-lg" placeholder="Busque projetos">
          <select name="skills" id="" class="form-control input-lg">
            <option value="Websites">Websites</option>
            <option value="Android">Android</option>
            <option value="IOS">IOS</option>
            <option value="Design">Design</option>
          </select>
          <select name="purpose" id="" class="form-control input-lg">
            <option value="Todas">Todas</option>
            <option value="Capacitação Profissional">Capacitação Profissional</option>
            <option value="Consumo Consciente">Consumo Consciente</option>
            <option value="Cultura, Esporte e Arte">Cultura, Esporte e Arte</option>
            <option value="Defesa de Direitos">Defesa de Direitos</option>
            <option value="Educação">Educação</option>
            <option value="Idosos">Idosos</option>
            <option value="Meio Ambiente">Meio Ambiente</option>
            <option value="Participação Cidadã">Participação Cidadã</option>
            <option value="Proteção Animal">Proteção Animal</option>
            <option value="Pessoas com Deficiência">Pessoas com Deficiência</option>
          </select>
          <button type="submit" class="btn btn-danger btn-lg">Buscar</button>
      </form>
  </div>
</div>
