<div class="banner" id="index-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop');">

    <div class = "index-description">
      <h1>Ache aqui uma ONG que se encaixa com você</h1>
    </div>

    <div class = "index-form">
      <form class="form-inline">
          <select name="" id="" class="form-control input-lg">
            <option value="1">Websites</option>
            <option value="2">Android</option>
            <option value="3">IOS</option>
            <option value="3">Design</option>
          </select>
          <select name="" id="" class="form-control input-lg">
            <option value="1">Todas</option>
            <option value="2">Capacitação Profissional</option>
            <option value="3">Consumo Consciente</option>
            <option value="4">Cultura, Esporte e Arte</option>
            <option value="5">Defesa de Direitos</option>
            <option value="6">Educação</option>
            <option value="7">Idosos</option>
            <option value="8">Meio Ambiente</option>
            <option value="9">Participação Cidadã</option>
            <option value="10">Proteção Animal</option>
            <option value="11">Saúde</option>
            <option value="12">Pessoas com Deficiência</option>
          </select>
          <button type="submit" class="btn btn-danger">Buscar</button>
      </form>
    </div>

</div>
