<div class="banner" id="index-banner" style="background-image: linear-gradient(-225deg, rgba(137,161,165,0.6) 0%, rgba(160,188,193,0.6) 50%), url('https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop');">

    <div class = "index-description">
      <h1>Ache aqui uma ONG que se encaixa com você</h1>
    </div>

    <div class = "index-form">
      <form class="form-inline" method="GET" action="/projects">
          <input type="text" class="form-control" placeholder="Busque projetos">
          <select name="skills" id="" class="form-control">
            <option value="Habilidades">Habilidades</option>
            <option value="Websites">Websites</option>
            <option value="Android">Android</option>
            <option value="IOS">IOS</option>
            <option value="Design">Design</option>
          </select>
          <select name="purpose" id="" class="form-control">
            <option value="Todas">Selecione causa</option>
            <option value="Capacitação Profissional">Capacitação Profissional</option>
            <option value="Consumo Consciente">Consumo Consciente</option>
            <option value="Cultura, Esporte e Arte">Cultura, Esporte e Arte</option>
            <option value="Defesa de Direitos">Defesa de Direitos</option>
            <option value="Educação">Educação</option>
            <option value="Idosos">Idosos</option>
            <option value="Meio Ambiente">Meio Ambiente</option>
            <option value="Participação Cidadã">Participação Cidadã</option>
            <option value="Proteção Animal">Proteção Animal</option>
            <option value="Pessoas com Deficiência">Pessoas com Deficiência</option>
          </select>
          <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>

</div>
