<div class="picture-and-description">
  <div class="project-pic">
    <img src="http://lorempixel.com/400/200/" alt="">
  </div>
  <div class="project-description">
    <h2><%= link_to project.name, project_path(project) %></h2>
    <p id="ong-name">ONG Danúsia</p>
    <p><%= project.mini_description %></p>
  </div>
</div>
<div class="project-local">
  <p>Skills</p>
  <p class="btn btn-default"><%= link_to project.skills.upcase, project_path(project) %></p>
</div>


