<div class="features padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <!-- <img src="images/globe.png" alt=""> -->
        <h2>Develop your skills</h2>
        <p>Find a project that will make you happy.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <!-- <img src="images/dollar.png" alt=""> -->
        <h2>Develop an amazing portfolio</h2>
        <p>Things that works. There's nothing better than this.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <!-- <img src="images/beer.png" alt=""> -->
        <h2>Change your level.</h2>
        <p>The main difference between the developers is experience. Change that.</p>
      </div>
    </div>
  </div>
</div>
