<div class="features padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="card-body">
          <i class="fa fa-code fa-4x" aria-hidden="true"></i>
        </div>
        <h4>Desenvolva suas habilidades</h4>
        <p>Ache um projeto que vá turbinar suas skills.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center adjust-icons">
        <div class="card-body">
          <i class="fa fa-address-book fa-4x" aria-hidden="true"></i>
        </div>
        <h4>Crie uma portfolio impressionante</h4>
        <p>Se destaque no mercado com projetos e resultados reais.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center adjust-icons">
        <div class="card-body">
          <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
        </div>
        <h4>Ajude o próximo</h4>
        <p>Se desenvolva profissionalmente ajudando ONGs por todo o Brasil</p>
      </div>
    </div>
  </div>
</div>
