<div class="navbar-volunteer">
  <!-- Logo -->
  <div class="navbar-volunteer-logo">
    <a href="/" class="navbar-volunteer-brand">
      <img src="https://source.unsplash.com/random/100x100" alt="logo"> <!-- place-holder image -->
    </a>
    <h3>Volunteer IT</h3>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-volunteer-right hidden-xs hidden-sm">

    <!-- TO-DO: Add link -->
    <a href="" class="navbar-volunteer-item navbar-volunteer-link">Add your NGOS</a>
    <!-- TO-DO: Add link -->
    <a href="" class="navbar-volunteer-item navbar-volunteer-link">Help</a>
    <!-- TO-DO: Add link -->
    <a href="" class="navbar-volunteer-item navbar-volunteer-link">Log In</a>
    <!-- TO-DO: Add link -->
    <button href="" type="button" class="btn btn-primary btn-sm">Sign Up</button>


    <!-- TO-DO: Sign in Avatar appears when you log in. -->
    <!-- Profile picture with dropdown list -->
    <!-- <div class="navbar-volunteer-item">
      <div class="dropdown">
        <img src="https://source.unsplash.com/random/100x100" class="avatar dropdown-toggle" id="navbar-volunteer-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-volunteer-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-volunteer-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-volunteer-dropdown-menu">
        <!-- TO-DO: Add link -->
        <li><a href="#">Add your NGOS</a></li>
        <!-- TO-DO: Add link -->
        <li><a href="#">Help</a></li>
        <!-- TO-DO: Add link -->
        <li><a href="#">Log In</a></li>
        <!-- TO-DO: Add link -->
        <li><a href="#">Sign Up</a></li>
      </ul>
    </div>
  </div>
</div>
